@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

.header-menu {
  padding: 33px 0;
}

.header-menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu__item a {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

.header-menu__item a:hover {
  color: #070707;
}

.header__line {
  border: 1px solid #828282;
}

body {
  font-family: Gilroy;
  font-weight: 500;
  color: #070707;
  padding: 0 30px;
}

.container {
  max-width: 944px;
  margin: 0 auto;
}

.main {
  margin-bottom: 225px;
}

.main-top {
  padding: 49px 0;
}

.main-top__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-top__title {
  max-width: 124px;
  font-weight: 700;
  font-size: 47px;
  line-height: 59px;
}

.main-top__text {
  max-width: 156px;
}

.main-top__text p {
  font-size: 18px;
  line-height: 22px;
}

.main-top__lang {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(270deg) translate(-20px, 35px);
      -ms-transform: rotate(270deg) translate(-20px, 35px);
          transform: rotate(270deg) translate(-20px, 35px);
}

.main-top__lang span {
  display: inline-block;
}

.main-image img {
  width: 100%;
}

.lang-active {
  color: #070707;
}

.about {
  margin-bottom: 200px;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  margin-bottom: 25px;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

.about__text {
  max-width: 480px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.about__text p {
  margin-bottom: 40px;
}

.about__text p:last-child {
  margin: 0;
}

.skills__title {
  margin-bottom: 69px;
}

.skills__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 82px;
}

.skills__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 223px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 45px;
  margin-bottom: 50px;
}

.skills-item__image {
  margin-bottom: 25px;
}

.skills-item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 80px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 40px;
}

.skills-item__stars img {
  margin-right: 5px;
}

.skills-item__stars img:last-child {
  margin-right: 0;
}

.portfolio__title {
  margin-bottom: 50px;
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.portfolio__item:last-child {
  margin-bottom: 210px;
}

.portfolio__image {
  margin-bottom: 45px;
}

.portfolio__image img {
  width: 100%;
}

.portfolio__link {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: underline;
  color: #070707;
}

.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 123px;
}

.contacts__title {
  margin-bottom: 25px;
}

.contacts__text {
  margin-bottom: 30px;
}

.contacts__text p {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.contacts__btn {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding: 13px 30px;
  border-radius: 35px;
  background-color: #000;
  color: #fff;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  margin-bottom: 85px;
}

.contacts__btn:hover {
  background-color: #828282;
  color: #070707;
}

.contacts-social {
  margin-bottom: 45px;
}

.contacts-social__icon {
  margin-right: 60px;
}

.contacts-social__icon:last-child {
  margin-right: 0;
}

.contacts-social__text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

@media (max-width: 1000px) {
  .skills__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .skills-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
    margin: 50px 20px;
  }
}

@media (max-width: 500px) {
  .skills__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .skills-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
    margin: 50px 20px;
  }
}